plugins/
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpdstate
ncmpcpp/.config/ncmpcpp/error.log
mpd/.config/mpd/playlists
ncmpcpp/.config/ncmpcpp/lyrics
scripts/.local/bin/console-ninja
scripts/.local/bin/wal
scripts/.local/bin/uvicorn
spicetify/.config/spicetify/config-xpui.ini
scripts/.local/bin/lvim
scripts/.local/bin/mise
zsh/.config/spicetify
scripts/.local/bin/mid3cp
scripts/.local/bin/mid3iconv
scripts/.local/bin/mid3v2
scripts/.local/bin/moggsplit
scripts/.local/bin/mutagen-inspect
scripts/.local/bin/mutagen-pony
scripts/.local/bin/yt-dlp
zsh/.config/zsh/.zcalc_history
zsh/.config/zsh/.zcompdump.arc.1114
zsh/.config/zsh/.zcompdump.arc.435537
zsh/.config/zsh/.zcompdump.arc.435537
