# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank
# xset r rate 210 40

setxkbmap -option shift:both_capslock,ctrl:nocaps
xcape

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="gnome-terminal"
export VISUAL="nvim"
export BROWSER="brave-browser"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Hide mouse when typing
# xbanish &

# Screenshots
flameshot &

# load Xresources
xrdb ~/.Xresources

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# fnm
export PATH=/home/ajitana/.fnm:$PATH
